extends ./_page

block body
    .v-box
        .box
            c-panel.show-on-ready(caption="查询条件")
                .content
                    c-form#queryForm(bind="condition")
                        fields.cols-2
                            field(property="code")
                            field(property="typeId")
                        fields.cols-2
                            field(property="name")
                            field(property="template")
                        fields.cols-2
                            field
                                label 状态
                                c-dropdown(c-bind="condition.status" valueProperty="name" textProperty="name" c-items="dictionary('11004')")
                            field(property="baseTemplateId")
                        fields.cols-1
                            field
                                .center(style="margin:0 auto")
                                    c-button.primary(icon="search" caption="查询" click="query")
                                    c-button(caption="重置" click="reset")
            c-menu.secondary.bordered
                a(caption="添加" icon="plus" click="add")
                a(caption="删除" icon="minus" click="del")
                a(caption="编辑" icon="edit" click="edit")
                a(caption="保存" icon="save" click="save")
                a(caption="upload template" icon="" click="")
                .right.menu
                    c-pager.secondary.compact(bind="dataTypeItem")
        .flex-box
            div
                c-table#currencyTable.impact.striped(height="100%" sortMode="local" bind="dataTypeItem")
                    column($type="select" sortable="true")
                    column(property="code" sortable="true")
                    column(property="typeId" sortable="true")
                    column(property="name" sortable="true")
                    column(property="status" sortable="true")
                c-dialog#dialog(width="100%" height="100%" closeable="false" animation="slide left")
                    .content
                        c-menu.secondary.bordered
                            a.right(caption="关闭" click="back")
                        c-form#queryForm(bind="dataTypeItem")
                            fields.cols-2
                                field(property="baseTemplateId" readOnly="true")
                                field(property="code")
                            fields.cols-2
                                field(property="typeId")
                                field(property="name")
                            fields.cols-2
                                field(property="template")
                                field(property="status")
                            fields.cols-2
                                field(property="ownerUserId")
                                field(property="createDate" readOnly="true")
                            fields.cols-2
                                field(property="createUserId" readOnly="true")
                                field(property="updateDate" readOnly="true")
                            fields.cols-2
                                field(property="updateUserId" readOnly="true")

append scripts
    script(src="type/Mine/baseTemplate.js")

